---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { t } from "@config";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import Info from "@/components/mdx/Info.astro";
---

<BaseLayout title="İletişim Seçenekleri">
  <MainCard
    title="İletişim Seçenekleri"
    description="Herhangi bir konuda benimle iletişime geçmektne çekinmeyin."
    textOverlay="CONTACT"
    infoIcon="lucide:contact"
  >
    <h1>Sosyal Medya Hesaplarım</h1><br />
    <Info><b>Mastodon</b> - <a href="https://mastodon.social/@esersevinc">https://mastodon.social/@esersevinc</a></Info
    ><br />
    <Info
      ><b>LinkedIn</b> - <a href="https://www.linkedin.com/in/esersevinc">https://www.linkedin.com/in/esersevinc/</a
      ></Info
    ><br />
    <br />
  </MainCard>
</BaseLayout>
