---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { t } from "@config";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import Info from "@/components/mdx/Info.astro";
import "@/styles/contactedit.scss";
---

<BaseLayout title="İletişim Seçenekleri">
  <MainCard
    title="İletişim Seçenekleri"
    description="Herhangi bir konuda benimle iletişime geçmekten çekinmeyin."
    textOverlay="CONTACT"
    infoIcon="lucide:contact"
  >
    <h1>Sosyal Medya Hesaplarım</h1><br />
    <Info><b>Mastodon</b> - <a href="https://mastodon.social/@esersevinc">https://mastodon.social/@esersevinc</a></Info
    ><br />
    <Info
      ><b>LinkedIn</b> - <a href="https://www.linkedin.com/in/esersevinc">https://www.linkedin.com/in/esersevinc/</a
      ></Info>
    <br />


<section class="contact-section">
    <div class="contact-intro">
      <h2 class="contact-title">İletişime Geçin</h2>
      <p class="contact-description">
        Aşağıdaki formu doldurun, en kısa sürede size geri dönüş yapacağım.
      </p>
    </div>
  
    <form class="contact-form" action="https://api.web3forms.com/submit" method="POST">
  
      <input type="hidden" name="access_key" value="805a5934-78ad-40bc-be51-41f648fa8a61" />
      <input type="hidden" name="subject" value="New Contact Form Submission from Web3Forms" />
      <input type="hidden" name="from_name" value="My Website" />
      <!-- More custom ization options available in the docs: https://docs.web3forms.com -->
  
      <div class="form-group-container">
        <div class="form-group">
          <label for="name" class="form-label">Adınız</label>
          <input id="name" name="name" class="form-input" placeholder="Ad Soyad" type="text" />
        </div>
        <div class="form-group">
          <label for="email" class="form-label">E-posta</label>
          <input id="email" name="email" class="form-input" placeholder="E-posta adresiniz" type="email" />
        </div>
        <div class="form-group">
          <label for="phone" class="form-label">Telefon numaranız</label>
          <input id="phone" name="phone" class="form-input" placeholder="+90 (111) 2223344" type="text" />
        </div>
        <div class="form-group">
          <label for="message" class="form-label">Mesajınız</label>
          <textarea class="form-textarea" id="message" name="message" placeholder="Mesajınız"></textarea>
        </div>
      </div>
      <button class="form-submit" type="submit">Gönder</button>
    </form>
  
  </section>
  
  </MainCard>
</BaseLayout>